<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edward.edwardapplication">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="android.permission.BACKGROUND_SERVICE"
        android:protectionLevel="dangerous" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:name=".EdwardApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".AnimationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AnimActivity" />

        <activity
            android:name=".PermissionRequestActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ServiceTestActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".RxjavaTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomStatusBarActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NotificationTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SystemSettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WifiDirectActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WakeLockActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SerialActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignatureActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FontsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ADBActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WebviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="android.edward.action.ALARM_NOTIFY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>